extends layout

block content
  h1(class="ui center aligned icon header") Select an OS
  div(class="ui three item stackable tabs menu")
    a(class="item",data-tab="new",href="/instances/ap-southeast-2/linux")
      | Linux
    a(class="item",data-tab="prev",href="/instances/ap-southeast-2/windows")
      | Windows
    a(class="item",data-tab="last",href="/instances/ap-southeast-2/RHEL")
      | RHEL