extends layout

block content
  h1(class="ui center aligned icon header") Select an OS
  div(class="ui three item stackable tabs menu")
    a(class="item",data-tab="new",href="/instances/ap-southeast-2/linux")
      i(class="linux icon")
      | Linux
    a(class="item",data-tab="prev",href="/instances/ap-southeast-2/windows")
      i(class="windows icon")
      | Windows
    a(class="item",data-tab="last",href="/instances/ap-southeast-2/RHEL")
      span(class="fl-redhat",style="margin-right:0.357143em")
      | RHEL