extends layout

block content
  table(id="displayTable",class="table table-striped table-bordered")
    thead
      tr
        th Size
        th Price per Day (USD)
        th vCPU
        th ECU
        th Memory
        th Storage
    tbody
      each instance in instances
        tr
          td 
            = instance.instanceType
          td 
            = (instance.price * 24) / 100000
          td 
            = instance.vcpu
          td
            = instance.ecu
          td 
            = instance.memory
          td 
            = instance.storage
