extends layout

block content
  form(class="ui form")
    div(class="field")
      label Min spec
      div(class="two fields")
        div(class="field")
          input(type="text",id="mincpu",placeholder="CPUs")
        div(class="field")
          input(type="text",id="minram",placeholder="RAM")

  table(id="displayTable",class="table table-striped table-bordered")
    thead
      tr
        th Size
        th Price per Day
        th vCPU
        th ECU
        th Memory
        th Storage
    tbody
      each instance in instances
        tr
          td 
            = instance.size
          td 
            =  Math.round((instance.price * 24) * 100) / 100 
          td 
            = instance.vCPU
          td
            if instance.ECUIsVariable
              | variable
            else
              = instance.ECU
          td 
            = instance.memory
          td 
            = instance.storage
