doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1.0")

    title= title
    link(rel="stylesheet",href="/semantic-ui/semantic.min.css")
    link(rel="stylesheet",href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    link(rel="stylesheet",href="/stylesheet/style.css")
  body
    div(class="ui fixed inverted menu")
      div(class="ui container")
        a(href="/",class="header item")
          | AWS Instances
        a(href="/instances/ap-southeast-2/linux",class="item")
          | Linux
        a(href="/instances/ap-southeast-2/windows",class="item")
          | Windows
        a(href="/instances/ap-southeast-2/RHEL",class="item")
          | RHEL
        div(class="ui simple dropdown item")
          | Others 
          i(class="dropdown icon")
          div(class="menu")
            a(class="item" href="/instances/ap-southeast-2/windowsSQL")
              | Windows SQL
            a(class="item" href="/instances/ap-southeast-2/windowsSQLWeb")
              | Windows Web Sql
            a(class="item" href="/instances/ap-southeast-2/windowsSQLEnterprise")
              | Windows Ent. Sql
            a(class="item" href="/instances/ap-southeast-2/SLES")
              | SLES

    div(class="ui main text container")
      block content

    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js",integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",crossorigin="anonymous")
    script(src="/semantic-ui/semantic.min.js")
    script(src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
    script(src="/scripts/main.js")